<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Futures Homepage</title>
  </head>
  <body>
    <center>
    <h1>Futures Page</h1>
      <a href="{% url 'futures_spreads:add_future' %}">Add Futures</a>
      <a href="{% url 'futures_spreads:spreads'%}">Spread Page</a>
    <div class="container">
      <table style="border-spacing: 15px;">
        <thead>
          <tr>
            <th>Commodity</th>
            <th>Symbol</th>
            <!-- <th>High</th>
            <th>Low</th>
            <th>VPIN</th>
            <th>fast WVPWAP</th>
            <th>slow WVPWAP</th> -->
          </tr>
        </thead>
        <tbody>
          {% for future in futures %}
          <tr>
            <td>{{future.name}}</td>
            <td>{{future.id}}</td>
            <td><a href= "{% url 'futures_spreads:make_spreads' future.id %}">{{future.symbol}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </center>
  </body>
</html>
